<section class="friendinfo">
  <div class="friend cf" ng-model="friends">
    <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
    <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
    <h1>{{friends[whichItem].name}}</h1>
    <div class="info">
      <h3>{{friends[whichItem].category}}</h3>
      <img ng-src="images/{{friends[whichItem].name}}_tn.jpg" alt="Photo of {{friends[whichItem].name}}">
      <div class="bio">
        <i class="fa fa-envelope" aria-hidden="true"></i> : {{friends[whichItem].email}}</br>
        <i class="fa fa-phone" aria-hidden="true"></i> : {{friends[whichItem].tel}}</br>
        <i class="fa fa-user"></i> : {{friends[whichItem].gender}}</br>
        <i class="fa fa-birthday-cake" aria-hidden="true"></i> : {{friends[whichItem].dob}}</div>
    </div>
  </div>
  <a href="index.html">&laquo; Back to search</a>
</section>