<section class="friendpage">
  <div class="search">
    <h1>Friends Directory</h1>
    <label>search: </label>
    <input ng-model="query" placeholder="Search for friends" autofocus>

    <label class="formgroup">by:
      <select ng-model="friendOrder">
        <option value="name">Name</option>
        <option value="category">Category</option>
        <option value="email"><Email>Email</p>
      </select>
    </label>

    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      ascending
     </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
    </label>
   
  </div>
  <ul class="friendlist">
    <li ng-animate="'animate'" class="friend cf" ng-repeat="item in friends | filter: query | orderBy: friendOrder:direction">
      <a href="#/details/{{friends.indexOf(item)}}">
        <img ng-src="images/{{item.name}}_tn.jpg" alt="Photo of {{item.name}}">
        <div class="info">
          <h2>{{item.name}}</h2>
          <h3>{{item.category}}</h3>
          <h3>{{item.email}}</h3>

        </div>
      </a>
    </li>
  </ul>  
</section>